! ------------------------------------------------------------------------------
! Colour Configuration
! ------------------------------------------------------------------------------

! special
*.foreground:   #2e4053
*.background:   #ffecb3
*.cursorColor:  #5d6d7e

! black
*.color0  : #17202a 
*.color8  : #1b2631

! red
*.color1  : #641e16
*.color9  : #78281f

! green
*.color2  : #0e6251
*.color10 : #186a3b

! yellow
*.color3  : #f4d03f
*.color11 : #fcf3cf

! blue
*.color4  : #2874a6
*.color12 : #154360

! magenta
*.color5  : #76448a
*.color13 : #a6809f

! cyan
*.color6  : #89d0bA
*.color14 : #7dbba8

! white
*.color7  : #e5e9f0
*.color15 : #d1d5dc

! ------------------------------------------------------------------------------
! Dmenu configs
! ------------------------------------------------------------------------------

dmenu.selforeground:	    #d8dee9
dmenu.background:	        #2e3440
dmenu.selbackground:	    #bf616a
dmenu.foreground:	        #d8dee9
                                                           
