! ------------------------------------------------------------------------------
! Colour Configuration
! ------------------------------------------------------------------------------

! special
*.foreground:   #2e4053
*.background:   #ffecb3
*.cursorColor:  #5d6d7e

! black
*.color0  : #17202a 
*.color8  : #1b2631

! red
*.color1  : #641e16
*.color9  : #78281f

! green
*.color2  : #0e6251
*.color10 : #186a3b

! yellow
*.color3  : #f4d03f
*.color11 : #fcf3cf

! blue
*.color4  : #2874a6
*.color12 : #154360

! magenta
*.color5  : #76448a
*.color13 : #a6809f

! cyan
*.color6  : #16a085
*.color14 : #117864

! white
*.color7  : #fdfefe
*.color15 : #f2f4f4

! ------------------------------------------------------------------------------
! Dmenu configs
! ------------------------------------------------------------------------------

dmenu.selforeground:	    #2e4053
dmenu.background:	        #2e4053
dmenu.selbackground:	    #ffecb3
dmenu.foreground:	        #ffecb3
                                                           
